
<!--/* Article Template */-->

<script type="text/template" id="articleView">
    <% _.each(articles, function(article) { %>
        <div class="col-6 col-md-4 col-lg-3 full-stack-article-container">
            <div class="full-stack-article">
                <div class="full-stack-article__img" style="background-image:url(<%= article.image %>/jcr:content/renditions/cq5dam.web.1280.1280.jpeg)"></div>
                <div class="full-stack-article__content">
                    <h2 class="full-stack-article__title"><%= article.title %></h2>
                    <p class="full-stack-article__desc"><%= article.desc %></p>
                </div>
                <a class="full-stack-article__link" href="#">Read More</a>
                
            </div>
        </div>
    <% });  %>
</script>

<div data-sly-test="${wcmmode.edit}" style="background:#5cab96; color:#fff;">Edit Mode: Edit Article Feed</div>

<div class="article-feed" data-article-feed-json="${properties.feedPath}/_jcr_content.articles.json">
        <div class="row no-gutters row-eq-height js-insert-articles">
            
        </div>
</div>