<!--/* Header Component for Pluralsight full-stack training site

*/-->

<header class="full-stack-header">
    <div class="container">
        <a class="full-stack-header__logo" href="#"><img src="/etc.clientlibs/full-stack-training/components/structure/header/clientlib/resources/hoodoo-logo-white.svg"></a>
        <div class="full-stack-header__nav">
            <ul class="full-stack-nav">
                <li class="full-stack-nav__item"><a href="#">About</a></li>
                <li class="full-stack-nav__item"><a href="#">Solutions</a></li>
                <li class="full-stack-nav__item"><a href="#">Blog</a></li>
                <li class="full-stack-nav__item full-stack-nav__item--cta"><a href="#">Get Started</a></li>
            </ul>
        </div>
    </div>
    <div class="full-stack-header__bar">
        <div class="container">
            We do AEM implementations different.
        </div>
    </div>
</header>